USE [master]
GO
CREATE DATABASE [HRData]
GO
USE [HRData]
GO
CREATE TABLE [dbo].[basic_info](
	[Employee Number] [varchar](50) NULL,
	[Employee Name] [varchar](50) NULL,
	[Sex] [varchar](50) NULL,
	[DeptID] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[date of hire] [varchar](50) NULL,
	[Years_of_service] [numeric](25, 6) NULL,
	[Age] [int] NULL,
	[MaritalDesc] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[pay rate] [varchar](50) NULL,
	[Min Hourly] [varchar](50) NULL,
	[mid hourly] [varchar](50) NULL,
	[Max Hourly] [varchar](50) NULL,
	[Performance Score] [varchar](50) NULL,
	[Pay_range_status] [varchar](23) NULL,
	[Employment Status] [varchar](50) NULL,
	[Reason For Term] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRDataset_v9]    Script Date: 6/29/2018 17:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRDataset_v9](
	[Employee Name] [varchar](50) NULL,
	[Employee Number] [varchar](50) NULL,
	[MarriedID] [varchar](50) NULL,
	[MaritalStatusID] [varchar](50) NULL,
	[GenderID] [varchar](50) NULL,
	[EmpStatus_ID] [varchar](50) NULL,
	[DeptID] [varchar](50) NULL,
	[Perf_ScoreID] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[Pay Rate] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Sex] [varchar](50) NULL,
	[MaritalDesc] [varchar](50) NULL,
	[CitizenDesc] [varchar](50) NULL,
	[Hispanic Latino] [varchar](50) NULL,
	[RaceDesc] [varchar](50) NULL,
	[Date of Hire] [varchar](50) NULL,
	[Days Employed] [varchar](50) NULL,
	[Date of Termination] [varchar](50) NULL,
	[Reason For Term] [varchar](50) NULL,
	[Employment Status] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Manager Name] [varchar](50) NULL,
	[Employee Source] [varchar](50) NULL,
	[Performance Score] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_staff]    Script Date: 6/29/2018 17:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_staff](
	[Employee Name] [varchar](50) NULL,
	[Race Desc] [varchar](50) NULL,
	[Date of Hire] [varchar](50) NULL,
	[TermDate] [varchar](50) NULL,
	[Reason for Term] [varchar](50) NULL,
	[Employment Status] [varchar](50) NULL,
	[Department] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Pay] [varchar](50) NULL,
	[Manager Name] [varchar](50) NULL,
	[Performance Score] [varchar](50) NULL,
	[Abutments Hour Wk 1] [varchar](50) NULL,
	[Abutments Hour Wk 2] [varchar](50) NULL,
	[Daily Error Rate] [varchar](50) NULL,
	[90-day Complaints] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recruiting_costs]    Script Date: 6/29/2018 17:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recruiting_costs](
	[Employment Source] [varchar](50) NULL,
	[January ] [varchar](50) NULL,
	[February] [varchar](50) NULL,
	[March] [varchar](50) NULL,
	[April] [varchar](50) NULL,
	[May] [varchar](50) NULL,
	[June] [varchar](50) NULL,
	[July] [varchar](50) NULL,
	[August] [varchar](50) NULL,
	[September] [varchar](50) NULL,
	[October] [varchar](50) NULL,
	[November] [varchar](50) NULL,
	[December] [varchar](50) NULL,
	[Total] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salary_grid]    Script Date: 6/29/2018 17:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salary_grid](
	[Position] [varchar](50) NULL,
	[Min Yearly] [varchar](50) NULL,
	[Mid] [varchar](50) NULL,
	[Max Yearly] [varchar](50) NULL,
	[Min Hourly] [varchar](50) NULL,
	[Mid Hourly] [varchar](50) NULL,
	[Max Hourly] [varchar](50) NULL,
	[Column 7] [varchar](50) NULL,
	[Column 8] [varchar](50) NULL,
	[Column 9] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[basic_info] ([Employee Number], [Employee Name], [Sex], [DeptID], [Department], [date of hire], [Years_of_service], [Age], [MaritalDesc], [Position], [pay rate], [Min Hourly], [mid hourly], [Max Hourly], [Performance Score], [Pay_range_status], [Employment Status], [Reason For Term]) VALUES (N'1103024456', N'Brown  Mia', N'Female', N'1', N'Admin Offices', N'10/27/2008', CAST(9.087671 AS Numeric(25, 6)), 30, N'Married', N'Accountant I', N'28.5', N'20.32', N'24.72', N'29.95', N'Fully Meets', N'3-Mid-Max pay range', N'Active', N'N/A - still employed')
INSERT [dbo].[basic_info] ([Employee Number], [Employee Name], [Sex], [DeptID], [Department], [date of hire], [Years_of_service], [Age], [MaritalDesc], [Position], [pay rate], [Min Hourly], [mid hourly], [Max Hourly], [Performance Score], [Pay_range_status], [Employment Status], [Reason For Term]) VALUES (N'1106026572', N'LaRotonda  William  ', N'Male', N'1', N'Admin Offices', N'01/06/2014', CAST(3.890410 AS Numeric(25, 6)), 34, N'Divorced', N'Accountant I', N'23', N'20.32', N'24.72', N'29.95', N'Fully Meets', N'2-Min-Mid pay range', N'Active', N'N/A - still employed')
INSERT [dbo].[basic_info] ([Employee Number], [Employee Name], [Sex], [DeptID], [Department], [date of hire], [Years_of_service], [Age], [MaritalDesc], [Position], [pay rate], [Min Hourly], [mid hourly], [Max Hourly], [Performance Score], [Pay_range_status], [Employment Status], [Reason For Term]) VALUES (N'1302053333', N'Steans  Tyrone  ', N'Male', N'1', N'Admin Offices', N'9/29/2014', CAST(3.161643 AS Numeric(25, 6)), 31, N'Single', N'Accountant I', N'29', N'20.32', N'24.72', N'29.95', N'Fully Meets', N'3-Mid-Max pay range', N'Active', N'N/A - still employed')
GO
INSERT [dbo].[production_staff] ([Employee Name], [Race Desc], [Date of Hire], [TermDate], [Reason for Term], [Employment Status], [Department], [Position], [Pay], [Manager Name], [Performance Score], [Abutments Hour Wk 1], [Abutments Hour Wk 2], [Daily Error Rate], [90-day Complaints]) VALUES (N'"Albert', N' Michael  "', N'White', N'8/1/2011', N'', N'N/A - still employed', N'Active', N'Production       ', N'Production Manager', N' $54.50 ', N'Elisa Bramante', N'Fully Meets', N'0', N'0', N'0,0')
INSERT [dbo].[production_staff] ([Employee Name], [Race Desc], [Date of Hire], [TermDate], [Reason for Term], [Employment Status], [Department], [Position], [Pay], [Manager Name], [Performance Score], [Abutments Hour Wk 1], [Abutments Hour Wk 2], [Daily Error Rate], [90-day Complaints]) VALUES (N'"Bozzi', N' Charles"', N'Asian', N'9/30/2013', N'8/7/2014', N'retiring', N'Voluntarily Terminated', N'Production       ', N'Production Manager', N' $50.50 ', N'Elisa Bramante', N'Fully Meets', N'0', N'0', N'0,0')
INSERT [dbo].[production_staff] ([Employee Name], [Race Desc], [Date of Hire], [TermDate], [Reason for Term], [Employment Status], [Department], [Position], [Pay], [Manager Name], [Performance Score], [Abutments Hour Wk 1], [Abutments Hour Wk 2], [Daily Error Rate], [90-day Complaints]) VALUES (N'"Butler', N' Webster  L"', N'White', N'1/28/2016', N'', N'N/A - still employed', N'Active', N'Production       ', N'Production Manager', N' $55.00 ', N'Elisa Bramante', N'Exceeds', N'0', N'0', N'0,0')
GO
INSERT [dbo].[recruiting_costs] ([Employment Source], [January ], [February], [March], [April], [May], [June], [July], [August], [September], [October], [November], [December], [Total]) VALUES (N'Billboard', N'520', N'520', N'520', N'520', N'0', N'0', N'612', N'612', N'729', N'749', N'910', N'500', N'6192')
INSERT [dbo].[recruiting_costs] ([Employment Source], [January ], [February], [March], [April], [May], [June], [July], [August], [September], [October], [November], [December], [Total]) VALUES (N'Careerbuilder', N'410', N'410', N'410', N'820', N'820', N'410', N'410', N'820', N'820', N'1230', N'820', N'410', N'7790')
INSERT [dbo].[recruiting_costs] ([Employment Source], [January ], [February], [March], [April], [May], [June], [July], [August], [September], [October], [November], [December], [Total]) VALUES (N'Company Intranet - Partner', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0', N'0')
INSERT [dbo].[salary_grid] ([Position], [Min Yearly], [Mid], [Max Yearly], [Min Hourly], [Mid Hourly], [Max Hourly], [Column 7], [Column 8], [Column 9]) VALUES (N'Administrative Assistant', N'30000', N'40000', N'50000', N'14.42', N'19.23', N'24.04', N'', N'', N'')
INSERT [dbo].[salary_grid] ([Position], [Min Yearly], [Mid], [Max Yearly], [Min Hourly], [Mid Hourly], [Max Hourly], [Column 7], [Column 8], [Column 9]) VALUES (N'Sr. Administrative Assistant', N'35000', N'45000', N'55000', N'16.83', N'21.63', N'26.44', N'', N'', N'')
INSERT [dbo].[salary_grid] ([Position], [Min Yearly], [Mid], [Max Yearly], [Min Hourly], [Mid Hourly], [Max Hourly], [Column 7], [Column 8], [Column 9]) VALUES (N'Accountant I', N'42274', N'51425', N'62299', N'20.32', N'24.72', N'29.95', N'', N'', N'')
USE [master]
GO
